<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="employeeBeanObject" class="com.springCore.classs1.ConstructorInjection.Employee"
 lazy-init="true" scope="prototype" >
<constructor-arg type="int" value="1001" />
<constructor-arg type="java.lang.String" value="Ram" />
<constructor-arg type="double" value="9000.90"  />
<property name="salary" value="9999"/>

</bean>
</beans>